<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-item 
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl">
        <!-- [recipe] is binding to the new property we created in the recipe item component -->
      </app-recipe-item>
    </div>
</div>

<!-- <p 
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'white'}"
  [ngClass]="{five: i >= 4}"
  *ngFor="let click of clicks; let i = index">{{ click }}</p> -->